<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>SecPwd-安全密码生成</title>
    <meta charset="utf-8" />
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/bootstrap-slider.min.css" rel="stylesheet">

    <style type="text/css">
        .starter-template {
            text-align: center;
        }

        .tab-container {
            padding: 15px;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            border-radius: 4px 4px 0 0;
        }

        table tr td {
            text-align: center;
        }

        table tr th {
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">SecPwd</a>
            </div>
            <div class="collapse navbar-collapse">
                <p class="navbar-text navbar-right">
                    <a target="_blank" href="https://github.com/sszgr/secpwd">
                        <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                            data-view-component="true" class="octicon octicon-mark-github d-block mr-2 float-left">
                            <path fill-rule="evenodd"
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                            </path>
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </nav>

    <div id="app">
        <div class="container">

            <div class="starter-template">
                <h2>安全密码生成工具</h2>
                <p class="lead">前端使用主密码+辅助密码进行AES后SHA256加密<br />自己搭建可以配合后端来进行密码生成，用于确保密码安全性
                </p>
            </div>
        </div>
        <div class="container">
            <ul class="nav nav-tabs" id="modeTabs" role="tablist">
                <li role="presentation"><a href="#cont-main" @click="mgen=true" role="tab" data-toggle="tab"> 双密码</a>
                </li>
                <li role="presentation"><a href="#cont-key" @click="mgen=false" role="tab" data-toggle="tab"> 安全KEY</a>
                </li>
            </ul>
        </div>
        <div class="container tab-content">
            <div class="tab-container tab-pane" role="tabpanel" id="cont-main">
                <div class="form-group has-success">
                    <label class="control-label" for="txtManPwd">主密码</label>
                    <input type="password" class="form-control" id="txtManPwd" v-model="mpwd"
                        aria-describedby="helpBlock1">
                    <span id="helpBlock1" class="help-block">输入一个相对安全且易记的密码，应尽量避免存在个人常用信息。推荐使用较长的组合形式。</span>
                </div>
                <div class="form-group has-success">
                    <label class="control-label" for="txtFlagPwd">辅助密码</label>
                    <input type="password" class="form-control" id="txtFlagPwd" v-model="fpwd" @input="refresh()"
                        aria-describedby="helpBlock2">
                    <span id="helpBlock2" class="help-block">输入一个针对性且不用强调记忆的标识作为辅助密码，如：@baidu.com、QQ、weibo..</span>
                </div>
            </div>
            <div class="tab-container tab-pane" role="tabpanel" id="cont-key">
                <div class="form-group has-success">
                    <label class="control-label" for="txtKeyPwd">SecKey</label>
                    <input type="text" class="form-control" id="txtKeyPwd" v-model="kpwd" @input="refresh()"
                        aria-describedby="helpBlock3">
                    <span id="helpBlock3" class="help-block">输入一个SHA256值作为SecKey进行密码生成。</span>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" @click="showOpt=!showOpt;refresh()">
                        使用特殊符号进行密码生成
                        <input type="text" v-show="showOpt" class="form-control" placeholder="Text input"
                            v-model="symbols" @input="refresh()">
                    </label>
                </div>
            </div>
        </div>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-6">key</th>
                        <th class="col-md-4">
                            <input id="txtLen" type="text" data-slider-min="6" data-slider-value="16"
                                data-slider-max="32" data-slider-step="1" />
                        </th>
                        <th class="col-md-1">copy</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="item in tdataArr">
                        <tr :class="[{'success':item.i=='0'}]">
                            <td>{{ item.i }}</td>
                            <td :id="'kid-'+item.i">{{ item.k }}</td>
                            <td :id="'pid-'+item.i" class="pValue">{{ item.p_dis }}</td>
                            <td>
                                <div class="btn-group btn-group-xs" role="group"> <button type="button"
                                        class="btn btn-default btnCopy"
                                        :data-clipboard-target="'#kid-'+item.i">Key</button>
                                    <button type="button" class="btn btn-default btnCopy"
                                        :data-clipboard-target="'#pid-'+item.i">Pwd</button>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script src="static/jquery.min.js"></script>
<script src="static/bootstrap.min.js"></script>
<script src="static/vue.min.js"></script>
<script src="static/bootstrap-slider.min.js"></script>
<script src="static/clipboard.min.js"></script>
<script src="static/crypto-js.min.js"></script>
<script src="sec.js"></script>

<script type="text/javascript">
    $(function () {
        $('#modeTabs a:first').tab('show');
        vm.mpwd = SecObj.SHA256(String(Math.random()));
        vm.refresh();
        vm.mpwd = '';
        vm.kpwd = '';
    });
    $('#modeTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>

<script type="text/javascript">
    var data = {
        mpwd: "",
        fpwd: "",
        kpwd: "",
        plen: 16,
        mgen: true,
        showOpt: false,
        symbols: "!@#",
        tdataArr: []
    };
    var vm = new Vue({
        el: "#app",
        data: data,
        methods: {
            refresh: function () {
                if (vm.mgen && vm.mpwd) {
                    vm.kpwd = SecObj.GenKey(vm.mpwd, vm.fpwd, vm.symbols);
                }
                if (vm.kpwd) {
                    let opt = { key: vm.kpwd, symbols: "" };
                    if (vm.showOpt && vm.symbols) {
                        opt.symbols = vm.symbols;
                    }
                    SecObj.GenSecPwd(opt, function (resp) {
                        vm.tdataArr = [];
                        resp.result.forEach(function (item) {
                            item.p_dis = item.p.substring(0, vm.plen);
                        });
                        vm.tdataArr = resp.result;
                    });
                }
            }
        }
    });
    $("#txtLen").slider().on('change', function (e) {
        vm.plen = e.value.newValue;
        vm.tdataArr.forEach(function (item) {
            item.p_dis = item.p.substring(0, vm.plen);
        });
    });
    new ClipboardJS('.btnCopy');
</script>

</html>